<% provide(:title, "Домашняя страница") %>
<div class="center jumbotron">
	<h1>
		Добро пожаловать в cиситему электронного журнала
		<br>
	</h1>
	<h2>
		<small>Это домашняя страницы системы электронного журнала</small>
	</h2>
	<br>
	<%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary center" %>
</div>